* {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(226, 170, 148);
}

body {
    text-align: center;
}

.img {
    height: auto;
    width: 500px;
    box-shadow: 2px 5px rgb(43, 27, 21);
    border-radius: 10px;
    margin:5px auto;
}

.img-background {
    background-color: #e9d5d4;
    box-shadow: 3px 3px #aa8b89;
    border-radius: 3px 3px 0 0;
    padding: 10px;
    max-width: 500px;
    max-height: auto;
    margin: auto;
}

.title-style {
    text-align: center;
    color: rgb(59, 135, 179);
    margin: auto;
}

.recipe-title {
    background-color: #e9d5d4;
    border-radius: 5px;
    height: auto;
    width: 500px;
    border: 7px double rgb(44, 99, 131);
    text-align: center;
    color: rgb(44, 99, 131);
    margin: auto;
}

.div-style {
    padding: 5px;
    background-color: #e9d5d4;
    box-shadow: 1px 5px #aa8b89;
    border-radius: 3px 3px;
    margin: auto;
    max-width: fit-content;
    border: 3px solid rgb(44, 99, 131);
}

.nav-header-style {
    padding: 8px;
    margin: auto;
    background-color: rgb(59, 135, 179);
    border-radius: 4px;
    box-shadow: 2px 2px;
}

.a-style {
    background-color: bisque;
    color: rgb(59, 135, 179);
    border-radius: 3px;
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 2px rgb(44,99, 131);
}
.welcome {
    background-color: rgb(59, 135, 179);
    color: bisque;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(44, 99, 131);
    padding: 10px;
}

.h2-style {
    margin: auto;
    color: rgb(44, 99, 131);
    background-color: #e9d5d4;
    max-width: fit-content;
}

.h3-style {
    color: #e9d5d4;
    background-color: rgb(44, 99, 131);
    max-width: 180px;
    margin: auto;
    padding: 8px;
    border-radius: 2px;
}

ol,
ul {
    list-style: none;
    color: rgb(44, 99, 131);
    background-color: #e9d5d4;
}

li {
    background-color: #e9d5d4;

}
.list-items-style {
    border: 3px solid rgb(44, 99, 131);
    max-width: fit-content;
    margin: auto;
    background-color: #e9d5d4;
}