* {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(249, 248, 209);
}

.img {
    height: auto;
    width: 500px;
}

.recipe-title {
    background-color: lightcoral;
    border-radius: 5px;
    height: auto;
    width: 500px;
    border: 7px double #e8bebc;
    text-align: center;
    color: #e9d5d4;
}

.div-style {
    padding: 5px;
    background-color: ;
}