* {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(249, 248, 209);
}

body {
    text-align: center;
}

.img {
    height: auto;
    width: 500px;
}

.title-style {
    text-align: center;
    color: rgb(59, 135, 179);
    margin: auto;
}

.recipe-title {
    background-color: lightcoral;
    border-radius: 5px;
    height: auto;
    width: 500px;
    border: 7px double #e8bebc;
    text-align: center;
    color: #e9d5d4;
}

.div-style {
    padding: 5px;
    background-color: #e9d5d4;
}

.nav-header-style {
    padding: 8px;
    margin: auto;
    background-color: rgb(59, 135, 179);
    border-radius: 4px;
    
}

.a-style {
    background-color: bisque;
    color: rgb(59, 135, 179);
    border-radius: 3px;
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 2px;
}
.welcome {
    background-color: rgb(59, 135, 179);
    color: bisque;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(44, 99, 131);
}